@model IEnumerable<management_mvc.Models.Projectdetail>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/nav.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<section class="home-section">
    <div class="home-content">
        <i class="las la-bars" style="color:#1d1b31; padding-left:10px"></i>
        <span class="text">DashBoard</span>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>@ViewData["count"]</h1>
                    <h3>PROJECTS</h3>
                </div>
                <div class="icon-cls">
                    <img src="~/images/project1.png" style=" width:70px; margin-left: -30px;" alt="">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>@ViewData["count"]</h1>
                    <h3 style="padding-left: 25px;">USERS</h3>
                </div>
                <div class="icon-cls">
                    <img src="~/images/manager.png" style=" width:80px; margin-left: -30px" >
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>@ViewData["taskdata"]</h1>
                    <h3 style="padding-left: 25px;">TASKS</h3>
                </div>
                <div class="icon-cls">
                    <img src="~/images/tasks.png" style=" width:70px; margin-left: -30px;" alt="">
                </div>
            </div>

        </div>
        <div class="content1">
            <div class="payment">
                <div class="title">
                    <h2>PROJECT MANAGEMENT</h2>
                    <button type="button" class="btn"> View All</button>
                </div>
                <table>
                    <tr>
                        <th>NAME</th>
                        <th>PROJECT NAME</th>
                        <th>START DATE</th>
                        <th>END DATE</th>
                        <th>DURATION</th>


                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Username)</td>
                            <td> @Html.DisplayFor(modelItem => item.ProjectName)</td>
                            <td> @Html.DisplayFor(modelItem => item.Startdate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Enddate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                           
                            <td><button type="button" class="btn">@Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })</button></td>
                            <td><button type="button" class=" btn">@Html.ActionLink("Details", "Details", new { id = item.ProjectId })</button></td>
                            <td><button type="button" class="btn">@Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })</button></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="main">
                <div class="header">
                    <div class="nav">
                        <div class="search">
                            <input type="text" placeholder="search...">
                            <button type="submit" class="las la-search"></button>
                        </div>
                        <div class="user">

                            <div class="userimg">
                                <img src="~/images/user1.png" alt=" ">
                            </div>

                        </div>
                    </div>
                </div>
</section>
@section Scripts{
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".la-bars");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
}
